/* Navigation & Overview */

#body {
    margin-top: 50px;
}
.navbar {
    margin-left: 200px;
}

/* Description Boxes */
.description_box {
    
}

.description {
    display: inline-block;
    width: 45%;
    margin: 0px 20px;
}

/* Options */

.load-button-div {
    text-align: center;
}
.load-button-div button {
    margin: 2px;
}

/* Primary Tables */

.basis {
    margin: 20px;
}
.feat_type {
    border-bottom: solid #eee;
}
.feat_type h3 {
    color: #69f;
}
.feature {
    display: inline-block;
    width: 300px;
    max-height: 400px;
    vertical-align: top;
    padding: 0px 7px;
    overflow-y: scroll;
    margin-bottom: 15px;
}
.token-freq-table {
    width: 100%;
}
/*.token-freq-table tbody tr:nth-child(odd) {*/
/*    background: #EEE;*/
/*}*/
.token-freq-set td, .token-freq-set th {
    padding: 1px 3px;
}
.token {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.freq, .freq-cmp {
    text-align: right;
    white-space: nowrap;
}
.cell-hidden {
    display: none;
}
.ratio-neg {
    color: crimson;
}

.inspect_user {
    cursor: pointer;
}
.inspect_user .token {
    color: #337ab7;
}
.inspect_user .token:after {
    content: ' \e003';
    font-family: 'Glyphicons Halflings';
}
.inspect_user:hover .token {
    color: #23527c;
    text-decoration: underline;
}

/* Row Backgrounds */
.row-polar0 {
    background: #EEE;
}
.row-polar1 {
    background: #FFF;
}
.token-keyword {
    background: #BDF;
}
.token-partial-keyword {
    background: #DEF;
}
.token-subset {
    background: #BFD;
}

/* Stats Table */

.stats-table tbody tr:nth-child(odd) {
    background: #EEE;
}
.stat-token {
    text-align: left;
    padding: 2px 5px;
}
.stat-value, .stat-cmp {
    text-align: right;
    padding: 2px 5px;
}

/* Inspector */

.inspect-table tr:nth-child(even) {
    background: #EEE;
}

/*
.inspect-key {
    width: 30%;
}
*/
.inspect-value {
    text-align: 'right';
}
