
/* Chart Display */
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.series {
    transition: 1s;
    text-anchor: end;
}
.series.lines {
    stroke-width: 2.0;
}
.series.unfocused {
    opacity: 0.5;
}
.series.lines.unfocused {
    opacity: 0.2;
}

/* Options */
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.choice {
    display:inline-block;
    padding: 5px;
}

.choice .dropdown-toggle {
    width: 100%;
    min-width: auto;
}
/*
.choice .dropdown-menu {
    width: 100%
}
*/

button:focus {
    outline: none !important;
}

/* Legend */
#legend {
    position: absolute;
    display: inline-block;
}
.legend_part {
    margin:5px;
    min-width: 200px;
    min-height: 50px;
    border: double #ddd;
    border-radius: 5px;
}
.legend_entry {
    margin: 5px;
}
.legend_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: solid;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 1s;
}
.legend_icon.unfocused {
    opacity: 0.6;
}
.legend_icon.off {
/*    border: solid;*/
    background-color: white !important;
}
.legend_label {
    display: inline-block;
    text-transform: capitalize;
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    white-space: nowrap;
}