
/* Chart Display */
#timeseries_div, #legend {
    display: inline-block;
    position: relative;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.series {
    transition: 1s;
    cursor: zoom-in;
    text-anchor: end;
}
.series.lines {
    stroke-width: 2.0;
}
.series.unfocused {
    opacity: 0.5;
}
.series.lines.unfocused {
    opacity: 0.2;
}

/* Options */
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.choice {
    display:inline-block;
    padding: 5px;
}

.choice .dropdown-toggle {
    width: 100%;
    min-width: auto;
}
/*
.choice .dropdown-menu {
    width: 100%
}
*/
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.popover {
    width: auto;
    min-width: 150px;
    text-align: center;
}
#choose_collection .popover {
    min-width: 350px;
}
dl.collection_popover {
    margin-bottom: 0px !important;
}
.collection_popover dt {
    width: 70px;
}
.collection_popover dd {
    margin-left: 85px;
    text-align: left;
    min-width: 200px !important;
/*    width: auto !important;*/
}

button:focus {
    outline: none !important;
}

/* Legend */
#legend {
    position: absolute;
    display: inline-block;
    padding: 5px;
    border: solid #ddd;
    border-radius: 5px;
}
.legend_part {
/*    margin:5px;*/
    min-width: 200px;
    min-height: 50px;
}
.legend_entry {
/*    margin: 5px;*/
}
.legend_icon_svg {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    transition: 1s;
}
/*
.legend_icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: solid;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 1s;
}
*/
.legend_icon.focused {
/*    opacity;*/
}
.legend_icon.unfocused {
    opacity: 0.6;
}
.legend_icon.off {
/*    border: solid;*/
    fill-opacity: 0.1;
}
.legend_label {
    display: inline-block;
    text-transform: capitalize;
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    white-space: nowrap;
}

#legend_key {
    text-align: center;
}
#legend_key dl {
    display: inline-block;
    margin-bottom: 5px;
}
#legend_key dt {
    float: left;
    width: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}
#legend_key dd {
    text-align: left;
    min-width: 150px;
    padding-top: 5px;
}
