#body {
    width: auto;
}

/* Coding Table */
.table_stat {
    z-index: 2;
    position: relative;
}
.table_bar {
    height: 80%;
    position: absolute;
    background: #DEF; /* cornflowerblue */
    z-index: -1;
    top: 10%;
    left: 0%;
}
#agreement_table, #tweet_table {
    font-size: 10pt;
}
#agreement_table small {
    opacity: 0.5;
}
.tweet_table_Text {
    width: 60%;
}
#agreement_table tr:nth-child(even){
    background-color: #F7F7F7;
}
.matrix-table-div {
    text-align: center;
    display: inline-block;
    position: relative;
}
.ylabel {
    top: 50%;
    height: 100%;
    left: 0px;
    transform: translate(-100%, -50%);
    text-orientation: sideways;
    writing-mode: vertical-lr;
    position: absolute;
}
#lMatrices table {
    table-layout: fixed;
    width: inherit;
}
#lMatrices td {
    font-size: 12px;
    width: 23px;
    height: 23px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-top-style: none;
    border-left-style: none;
    border-width: 1px;
}
#lMatrices tr td:last-child {
    border-right-style: none;
    border-left-style: double;
    border-left-width: 3px;
}
#lMatrices table tr:first-child, #lMatrices tr td:first-child {
    font-weight: bold;
}
#codes_confusion_matrix td {
    width: 30px;
    height: 30px;
}
#codes_confusion_matrix tr:last-child td {
    border-bottom-style: none;
    border-top-style: double;
    border-top-width: 3px;
}
/*
#matrices tr:hover {
    background: #EEE;
}*/
.coding_header h2 {
    display: inline;
    margin-right: 30px;
}

.u_cell_plain {
    border-right-style: none !important;
    border-left-style: none !important;
    border-top-style: none !important;
    border-bottom-style: none !important;
}

.u_cell_pairwise {
    border-right-style: dotted !important;
    border-left-style: none !important;
    border-top-style: none !important;
    border-bottom-style: dotted !important;
}

.u_cell_coltotal {
    border-right-style: dotted !important;
    border-left-style: none !important;
    border-top-style: double !important;
    border-bottom-style: none !important;
}

.u_cell_rowtotal {
    border-right-style: none !important;
    border-left-style: double !important;
    border-top-style: none !important;
    border-bottom-style: dotted !important;
}

.u_cell_toolow {
    background-color: #ff9896
}

.u_cell_toohigh {
    background-color: #aec7e8
}

.u_cell_lt75 {
    background-color: #dbdb8d
}

.u_cell_gt90 {
    background-color: #98df8a
}

.u_cell_colorscale {
    padding: 0px 5px;
    margin: 0px 5px;
}
