/* Body */
#body {
    margin-left: 200px;
}

/* Header */

#header {
    padding: 5px;
}
#chart-title {
    font-size: x-large;
}
#header .choice {
    float: right;
}

/* Options */
.sidebar {
    position: fixed;
    width: 200px;
/*    border-right: solid 5px #eee;*/
    background: white;
    top: 0px;
    left: -175px;
    transition: left 500ms;
    overflow-Y: scroll;
    height: 100%;
    padding: 5px;
}
.sidebar:hover, .sidebar-pinned {
    left: 0px;
}
.sidebar .sidepanel {
    position: relative;
/*    margin-bottom: 20px;*/
}
.sidebar h4, .legend h4 {
    padding: 5px;
    cursor: pointer;
/*    border-bottom: 1px solid #e5e5e5;*/
}
.sidebar .section-title {
    position: absolute;
    transition: 500ms;
    background: white;
    white-space: nowrap;
    z-index: 10;
    width: 20px;
    
    writing-mode: vertical-lr;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    right: -5px;
}
.sidebar:hover .section-title, .sidebar-pinned .section-title {
    width: 0px !important;
}
.sidebar-dropdown-option {
    text-align: center;
}
.sidebar-dropdown-option a {
    white-space: normal !important;
    padding: 2px 8px !important;
    font-size: 12px
}

.menu-open-icon {
    font-family: 'Glyphicons Halflings';
    font-size: .75em;
}
.menu-open-icon:before {
    content: "\e259"
}
.sidepanel.closed .menu-open-icon:before {
    content: "\e257"
}

#choices {
    max-height: 150px;
/*    overflow: scroll;*/
}

.choice {
    display: flex;
    padding: 2px;
    width: 100%;
    height: auto;
/*    transition-duration: height 1s;*/
    text-transform: capitalize;
}
.choice-break-before {
    border-top: solid 1px #ddd;
    margin-top: 5px;
    padding-top: 5px;
}

.choice .dropdown, .choice .sidebar-toggle {
    width: 100%;
}
.choice .btn {
    max-width: 100%;
    white-space: normal;
    float: right;
}
.choice-inline-table {
    display: inline-table;
    vertical-align: top;
}
.sidepanel.closed .choice, .sidepanel.closed ul {
    transform: scaleY(0);
    padding: 0px;
    height: 0px;
    display: flex;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.popover {
    width: auto;
    min-width: 150px;
    text-align: center;
}
#choose_collection .popover {
    min-width: 350px;
}
dl.collection_popover {
    margin-bottom: 0px !important;
}
.collection_popover dt {
    width: 70px;
}
.collection_popover dd {
    margin-left: 85px;
    text-align: left;
    min-width: 200px !important;
    max-height: 120px;
    overflow: hidden;
/*    text-overflow: ellipsis; */ /* Won't work with wrapped content */
}

button:focus {
    outline: none !important;
}
.option-label {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.tt-menu {
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}
.tt-input {
    width: 100%;
}
.tt-suggestion {
    white-space: normal !important;
}


/* Modals */
.badge a {
    color: white;
}
.modal-options {
    display: inline-block;
    position: relative;
    margin: 0px 5px;
}
.edit-box {
    padding-right: 30px;
}
.edit-box-query td {
    padding: 3px;
}
.edit-box-query .selectType {
    width: 80px;
}
.modal-options div { /* Why are there two? */
    display: inline-table;
    text-align: left;
}
.modal-options div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.ngram_table_container {
    display: inline-block;
    width: 33%;
    max-height: 400px;
    vertical-align: top;
    padding: 0px 7px;
    overflow-y: scroll;
}
.ngram_table {
    width: 100%;
}
.ngram_table tr:nth-child(even) {
    background: #EEE;
}
.ngram_count td {
    padding: 1px 3px;
}
.ngram_count_label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.ngram_count_count {
    text-align: right;
    white-space: nowrap;
}

/* Progress Bar */

.progress {
    position: absolute;
    opacity: 0.75;
    z-index: 3;
}
.progress-bar {
    width: 0%;
    font-weight: bold;
    padding: 10px 0px;
    font-size: 1em;
    text-align: center;
    white-space: nowrap;
}

.progress.pagemiddle, .progress.page40 {
    position: fixed;
    top: 50%;
    left: 10%;
    width: 80%;
    height: 40px;
    transform: translateY(-50%);
    background: #ccc; 
}
.progress.page40 {
    top: 40%;
}
.progress.middle {
    top: 36%;
    left: 10%;
    width: 80%;
    height: 40px;
    background: #ccc; 
}
.progress.full {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: grey;
    
}
.progress.full .progress-bar {
    padding: 5px 0px;
}

/* Other */
.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.tooltip {
    position: fixed;
    background: white;
    border-width: 1px;
    border-style: ridge;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    z-index: 20;
    text-transform: capitalize;
    padding-bottom: 5px;
}
.tooltip td, .tooltip th {
    padding: 5px 5px 0px 5px;
    max-width: 300px;
}

.match_addon {
    color: #ccc;
    text-transform: lowercase;
}
.match_addon.not {
    color: #f55;
}
