#status_table {
    font-size: .9em;
    width: auto;
}

#status_table td, #status_table th, .col-floating {
    white-space: nowrap;
    padding: 4px 6px;
}
td div, th div {
    display: flex;
}
.cell-count {
    text-align: right;
    position: relative;
}
.cell-count .value {
    margin-left: auto;
}
.cell-count .glyphicon {
    margin-left: 0;
}
.glyphicon-hidden {
    padding-left: 5px;
    margin-left: auto;
    opacity: 0;
}
.glyphicon-hiddenclick {
    padding-left: 5px;
    margin-left: auto;
    opacity: 0;
    cursor: pointer;
}
td:hover .glyphicon-hiddenclick {
    opacity: 0.6;
}
th:hover .glyphicon-hiddenclick {
    opacity: 0.6;
}
.glyphicon-hiddenclick:hover {
    opacity: 1 !important;
}
.glyphicon-hoverclick {
    cursor: pointer;
    opacity: 0.6;
}
.glyphicon-hoverclick:hover {
    opacity: 1;
}
.col-sortable {
    cursor: pointer;
}
.col-sortable .glyphicon-hoverclick {
    padding-left: 5px;
    margin-left: auto;
}
.thead-floating {
    margin-left: 215px;
    position: fixed;
    top: 0px;
    background-color: white;
    border-bottom: 2px solid #ddd;
    pointer-events: none;
    font-size: .9em;
    font-weight: bold;
    white-space: nowrap;
}
.col-floating {
    display: inline-block;
}
div .action_button:not(:first-child) {
    padding-left: 5px;
}
div .action_button:not(:last-child) {
    padding-right: 5px;
}

.row_haschildren .cell-label {
    cursor: pointer;
}

.row_eventtype {
    background-color: #9ac;
    border-top: solid 2px #78a;
}
.row_event {
    background-color: #bce;
    border-top: solid 2px #abd;
}
.row_rumor {
    background-color: #ddd;
    border-top: solid 2px #ccc;
}
.row_feature {
    background-color: #eee;
}
.row_subset {
    border-top: solid 2px #fff;
}

.cell-Collection {
    cursor: pointer;
}

.row_eventtype .cell-Collection .value {
    padding-left: 10px;
    font-weight: bold;
}
.row_event .cell-Collection .value {
    padding-left: 20px;
}
.row_rumor .cell-Collection .value {
    padding-left: 30px;
}
.row_feature .cell-Collection .value {
    font-style: italic;
    padding-left: 40px;
}
.row_subset .cell-Collection .value {
    padding-left: 50px;
}

/* This breaks when the order changes
.row_feature-even {
    background-color: #9f9;
}
.row_feature-even-subset-odd {
    background-color: #cfc;
}
.row_feature-even-subset-even {
    background-color: #6f6;
}
.row_feature-odd {
    background-color: #f99;
}
.row_feature-odd-subset-odd {
    background-color: #fcc;
}
.row_feature-odd-subset-even {
    background-color: #f66;
}
*/


.new-collection-button {
    margin: 10px;
}

#contextMenu {
    position: absolute;
    display:none;
}