#status_table {
    font-size: .9em;
    width: auto;
}

#status_table td, #status_table th {
    white-space: nowrap;
}
td div, th div {   
    display: flex;
}
.cell-count {
    text-align: right;
    position: relative;
}
.cell-count .value {
    margin-left: auto;
}
.cell-count .glyphicon {
    margin-left: 0;
}
.glyphicon-hidden {
    padding-left: 5px;
    margin-left: auto;
    opacity: 0;
}
.glyphicon-hiddenclick {
    padding-left: 5px;
    margin-left: auto;
    opacity: 0;
    cursor: pointer;
}
td:hover .glyphicon-hiddenclick {
    opacity: 0.6;
}
th:hover .glyphicon-hiddenclick {
    opacity: 0.6;
}
.glyphicon-hiddenclick:hover {
    opacity: 1 !important;
}
.glyphicon-hoverclick {
    cursor: pointer;
    opacity: 0.6;
}
.glyphicon-hoverclick:hover {
    opacity: 1;
}
.col-sortable {
    cursor: pointer;
}
.col-sortable .glyphicon-hoverclick {
    padding-left: 5px;
    margin-left: auto;
}
div .action_button:not(:first-child) {
    padding-left: 5px;
}
div .action_button:not(:last-child) {
    padding-right: 5px;
}

.row_haschildren .cell-label {
    cursor: pointer;
}

.row_type {
    background-color: #eee;
    border-top: solid 2px #ddd;
}
.row_event {
    background-color: aliceblue;
    border-top: solid 2px #def;
}
.row_subset {
    border-top: solid 2px #fff;
}

.row_type .cell-label .value {
    padding-left: 10px;
    font-weight: bold;
}
.row_event .cell-label .value {
    padding-left: 20px;
}
.row_rumor .cell-label .value {
    padding-left: 30px;
}
.row_feature .cell-label .value {
    font-style: italic;
    padding-left: 40px;
}
.row_subset .cell-label .value {
    padding-left: 50px;
}

.new-collection-button {
    margin: 10px;
}

#contextMenu {
  position: absolute;
  display:none;
}